/* line 1, ../sass/login.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/login.scss */
html {
  font-size: 625%;
  height: 100%;
  width: 100%;
}

/* line 8, ../sass/login.scss */
body {
  font-size: 0.16rem;
  height: 100vh;
  padding: 0;
  margin: 0;
  text-align: center;
}

/* line 15, ../sass/login.scss */
body::before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}

/* line 21, ../sass/login.scss */
form {
  padding: 0 0.1rem 0.2rem 0.1rem;
  display: inline-block;
  vertical-align: middle;
  width: 90%;
  margin: auto;
  border: 1px solid silver;
}

/* line 30, ../sass/login.scss */
div {
  border: 2px solid silver;
  margin-top: 0.2rem;
}

/* line 35, ../sass/login.scss */
input {
  border: none;
  outline: none;
  height: 0.5rem;
}

/* line 41, ../sass/login.scss */
input[type=button] {
  width: 100%;
  background-color: #03a9f4;
  font-size: 0.18rem;
  color: #fff;
}

/* line 47, ../sass/login.scss */
.loginBtn {
  border: none;
}

/* line 50, ../sass/login.scss */
input[type=button]:active {
  box-shadow: 1px 1px 1px 1px #999;
}

/* line 53, ../sass/login.scss */
.msg {
  font-size: 0;
  letter-spacing: -4px;
}

/* line 57, ../sass/login.scss */
.msg * {
  font-size: 0.16rem;
  letter-spacing: normal;
}

/* line 61, ../sass/login.scss */
.msg label {
  display: inline-block;
  width: 1rem;
  line-height: 0.5rem;
}

/* line 67, ../sass/login.scss */
.msg input {
  width: calc(100% - 1rem);
}

/* line 70, ../sass/login.scss */
h3 {
  color: #03a9f4;
}

/* line 73, ../sass/login.scss */
.warn {
  color: red;
  font-size: 0.12rem;
}

/* line 77, ../sass/login.scss */
.info {
  color: green;
  font-size: 0.12rem;
}

@media screen and (min-width: 768px) {
  /* line 83, ../sass/login.scss */
  form {
    width: 50%;
    padding: 0 10% 0.2rem 10%;
  }
}
